
body {
    box-sizing: border-box;
    background-image: url(../images/medallion.jpg);
}

h1 {
    font-family: 'Fondamento', cursive;
    font-size:30px;
    margin: 2px;
     background-image: linear-gradient(to left, black, darkred, red);
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    font-family: 'Fondamento', cursive;
    background-image: linear-gradient(to left, black, darkred, red);
    -webkit-background-clip: text;
    color: transparent;
}

span {
    color: red;
}

input{
    cursor: pointer;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}

input:hover{
    transform: translateY(-2px);
    transition: transform 150ms;
}

.material-icons {
    padding-top: 7px;
    background-image: linear-gradient(to left, black, darkred, red);
    -webkit-background-clip: text;
    color: transparent;
}

.answer-txt {
    display: inline;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}

.question {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.main-div {
    width: 70%;
    margin: auto;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 darkred;
}

.pmain{
    font-family: fantasy;
}

#title-div {
    border-style: outset;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 3px 0 darkred;
}

#questions-div {
    display:none;
}

#timer-div{
    display:none;
}

#result-div{
   /* display:none; */
}

#start-btn {
    cursor: pointer;
    font-weight: 800;
    background-color: dimgray;
    margin-bottom: 10px;
    font-family: cursive ;
    font-size: 24px;
    background-image: linear-gradient(to left, black, darkred, red);
    -webkit-background-clip: text;
    color: transparent;
}

#start-btn:hover {
    box-shadow: 0 2px 3px 0 darkred;
    transform: translateY(-1px);
    transition: transform 150ms;
}

#submit-btn {
    cursor: pointer;
    font-weight: 800;
    background-color:dimgray;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 24px;
    background-image: linear-gradient(to left, black, darkred, red);
    -webkit-background-clip: text;
    color: transparent;
}

#submit-btn:hover {
    box-shadow: 0 2px 3px 0 darkred;
    transform: translateY(-1px);
    transition: transform 150ms;
    
}

#reset-btn {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 800;
    background-color:dimgray;
    margin-bottom: 10px;
    font-size: 24px;
    background-image: linear-gradient(to left, black, darkred, red);
    -webkit-background-clip: text;
    color: transparent;
}

#reset-div {
    display: none;
}

#reset-btn:hover {
    box-shadow: 0 2px 3px 0 darkred;
    transform: translateY(-1px);
    transition: transform 150ms;
}